*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Trebuchet MS', sans-serif;
    height: 100%;
}

body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: rgb(28, 28,29);
    width: 800px;
    border-radius: 3px;
}

.btn, input {
    height: 35px;
    padding: 0 1em;
    border-radius: 8px;
    color: #000;
    background-color: lightgrey;
    border-color: blueviolet;
}

.container {
    min-height: 600px;
    max-height: 900px;
    display: flex;
    padding: 3px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.h1 {
    margin-top: 20px;
    color: white;
}

.description {
    color: white;
    font-size: 18px;
    text-align: center;
    width: 400px;
}

.faqcontainer {
    margin-top: 10px;
    min-height: 400px;
    max-height: 600px;
    display: grid;
    grid-template-columns: 350px 350px;
    grid-template-rows: 250px 250px;
    gap: 10px;
}

.faqblock {
    width: 350px;
    height: 250px;
    background: rgba(119, 136, 153, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(119, 136, 153, 0.3);
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

.fqalabel {
    color: white;
    width: 300px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 8px;
    font-weight: bolder;
}

.faqtext {
    color: white;
    width: 275px;
    font-size: 16px;
    text-align: justify;
    font-weight: 500;
}

.startbtn {
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 125px;
    height: 40px;
    margin-right: 5px;
    font-size: 16px;
    background-color: greenyellow;
    border-color: grey;
    color: black;
}

.startbtn:hover {
 background-color: lightgreen;
}