*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Trebuchet MS', sans-serif;
    height: 100%;
}

body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: rgb(28, 28,29);
    min-width: 600px;
    max-width: 800px;
    border-radius: 3px;
}

.btn, input {
    height: 35px;
    padding: 0 1em;
    border-radius: 8px;
    color: #000;
    background-color: lightgrey;
    border-color: blueviolet;
}

.color {
    padding: 0 0.25em;
    width: 100px;
    margin: 0 1em;
}

.container {
    min-height: 600px;
    max-height: 800px;
    display: flex;
    padding: 3px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.descreption {
    margin-bottom: 15px;
    width: 300px;
    color: white;
    font-size: 16px;
    text-align: justify;
}

.exampleimg  {
  display: none;
}

.exampleimg.show {
  display: block;
}

.example {
    align-items: center;
    text-decoration: underline;

}

.exampleimg {
    margin-top: 5px;
    border: #fff;
    border-radius: 2px;
    margin-left: 29px;
}

input[type="file"]{
    opacity: 0;
    z-index: -1;
    position: absolute;
    top: -1px;
    left: 0;
    width: 0.1px;
    height: 0.1px;
}

input[type="file"]:focus + label[for="files"]{
    border: 1px solid #85E5FF;
}

label[for="files"]{
    background: #FF7B47;
    padding: 10px;
    color: #fff;
    font-family: sans-serif;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

label[for="files"]:hover{
    background: #FF9E59;
}

.preimage {
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.checkout {
    margin-top: 10px;
}

.cancel {
    border-radius: 4px;
    width: 125px;
    height: 40px;
    margin-left: 5px;
    font-size: 16px;
    background-color: red;
    border-color: grey;
    color: white;
}

.cancel:hover{
    background-color: lightcoral;
}

.askki {
    border-radius: 4px;
    width: 125px;
    height: 40px;
    margin-right: 5px;
    font-size: 16px;
    background-color: lime;
    border-color: grey;
    color: white;
}

.askki:hover {
 background-color: lightgreen;
}